
{% extends 'base.html' %}
{% block title %} About Go - {{ block.super }}{% endblock %}
{% block content %}
    <fieldset>
        <legend class="h2">About Bazaar</legend>
        Project Bazaar is a web application developed for easy of connecting
        individuals whom seek to create & discover value in items who's value
        has been greatly undervalued in the absence of information
        <br><br>
        The site is merely a prototype version and active participation in the
        feedback process will greatly be appreciated.
        <br><br>
        <strong>Final lunch coming soon!</strong>
    </fieldset>
        <br><br>
        <br><br>
{% endblock %}