<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
{% load humanize %}
{% load bootstrap3 %}
    <head>
        <title>
            {% block title %}
            Go.xyz
            {% endblock %}
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://res.cloudinary.com/christwin/raw/upload/v1570469696/style_cggb8k.css">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    </head>
    <body class="{{ user.view }}">
        <header>
            {% block ribbon %}
                <div class="row">
                    <div class="container">
                    {% if user.is_authenticated %}
                    <a class="brand pull-left h4" href="#"><strong>{{ user.view.upper }}S</strong></a>
                    {% endif %}
                        {% block search %}
                        {% endblock search %}
                    <ul class="list-inline list-unstyled pull-right small">
                        {% if user.is_authenticated %}
                        <li><a href="{{ user.get_home_url }}">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            Home</a>
                        </li>
                        <li><a href="{{ user.get_search_url }}">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            Search</a>
                        </li>
                        <li><a href="{% url 'logout' %}">
                            <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                            Logout</a>
                        </li>
                        <li><a href="{% url 'user:details' pk=user.pk %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            Profile</a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'join' %}">Signup</a></li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            {% endblock ribbon %}
        </header>
        <section id="billboard">
            {% block banner %}
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        {% block billboard %}
                            {% if user.is_authenticated %}
                            <h1 class="h3 pull-right">
                                <a href="{% url 'user:details' pk=user.pk %}">#{{ user.alias }}</a>
                                <br>
                                <text class="h4 pull-right sub-text">{{ user.username }}</text>
                            </h1>
                            {% endif %}
                        {% endblock billboard %}
                    </div>
                </div>
            </div>
            {% endblock banner %}
        </section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-3 col-md-2">
                </div>
                {% if user.is_authenticated %}
                {% block menu %}
                <div class="col-xs-9 col-md-10 round">
                </div>
                {% endblock menu %}
                {% endif %}
            </div>
        </div>
        {% block body %}
        <div class="row">
            {% block room %}
            <div class="col-xs-12 col-md-10">
                <div class="container-fluid text-left">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
            {% endblock room %}
        </div>
        {% endblock body %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous">
        </script>
    </body>
    <footer style="text-align: center;">
        <div class="container">
            <br><br>
            <p>
            <text class="h1">
                Your feeedback is precious
            </text><br>
            <text>Don't hesitate to inform us, we anxiously await your responce</text>
            <a href="{% url 'about' %}" class="button">About this site</a>
            </p>
            <br><br></p>
            <div class="row">
                <div class="col-sm-2 col-md-2"></div>
                <div class="col-sm-4 col-md-4">
                    For complaints & suggestions contact the developer
                    <strong style="color:yellow"> Christwin </strong>on whatsapp
                    <br>
                    <text class="button">+2348081147003</text>
                    <br><br>
                </div>
                <div class="col-sm-6 col-md-6">
                    Or contact <strong style="color:yellow">Randy </strong>on whatsapp
                    <br>
                    <text class="button">+2349031920540</text>
                </div>
            </div>
        </div>
    </footer>
</html>
