
{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    {{ block.super }}
{% endblock title %}
{% block form %}
    <br>
<div class="container">
    <form role="form" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
                {% block label %}
                    Done
                {% endblock label %}
            </button>
        {% endbuttons %}
    </form>
</div>
{% endblock form %}