
{% extends 'base.html' %}
{% block title %}
    Intro - {{ block.super }}
{% endblock %}
{% block billboard %}
    <h1>Welcome to {{ user.locale.upper }} Bazaar!</h1>
    <text class="h3 sub-text">~ Everybody Wins! ~</text>
{% endblock billboard %}
{% block content %}
    <hr style="width:80%;">
    <div class="jumbotron">
        <div class="row">
        <div class="container h1">
        <a class="btn btn-lg" style="color:#fff; background-color:orange" href="{% url 'item:search' %}">
            Buy <span class="glyphicon glyphicon-shopping-cart col-md-4" aria-hidden="true"></span>
        </a>
        <a class="btn btn-lg" style="color:#fff; background-color:green" href="{% url 'item:add' %}">
            Sell <span class="glyphicon glyphicon-gift col-md-4" aria-hidden="true"></span>
        </a>
        </div>
        </div>
    </div>
{% endblock content %}
