{% extends 'search/search.html' %}
{% block title %}
    Welcome{{ block.super }}
{% endblock title %}
{% block banner %}
    {% if query %}
    {% else %}
        <div class="jumbotron">
            <div class="container">
                <div class="row">
                    {% block billboard %}
                    <div class="warp-headline">
                        <h1 class="h3 text-center">Welcome to the Great<br>
                            <strong>Bazaar</strong>
                        </h1>
                        <h2 class="text-center"><small>~ Campus Edition ~</small></h2>
                        <hr>
                        <ul class="list-inline list-unstyled text-center">
                        <a class="btn btn-lg" style="color:#fff; background-color:orange" href="{% url 'item:all' %}">
                            Buy <span class="glyphicon glyphicon-shopping-cart col-md-4" aria-hidden="true"></span>
                        </a>
                        <a class="btn btn-lg" style="color:#fff; background-color:green" href="{% url 'item:add' %}">
                            Sell <span class="glyphicon glyphicon-tags col-md-4" aria-hidden="true"></span>
                        </a>
                        </ul>
                    </div>
                    {% endblock billboard %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock banner %}
{% block dashboard %}
{% endblock dashboard %}
{% block content %}
    {{ block.super }}
{% endblock content %}

