{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %} Item Categories - {{ block.super }}{% endblock %}
{% block header %}
    {{ block.super }}
{% endblock header %}
{% block content %}
<div class="container">
    <ul class="list-unstyled" style="text-align: center;">
        <li>
            <a href="{% url 'item:category' category='bags' %}" class="h2 button">Bags</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='books' %}" class="h2 button">Books</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='shoes' %}" class="h2 button">Shoes</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='cloths' %}" class="h2 button">Cloths</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='utensils' %}" class="h2 button">Utensils</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='jeweleries' %}" class="h2 button">Jeweleries</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='phones' %}" class="h2 button">Mobile Phones</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='electronics' %}" class="h2 button">Electronics</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='laptops' %}" class="h2 button">Laptop Computers</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='furniture' %}" class="h2 button">Furniture</a>
        </li>
        <br>
        <li>
            <a href="{% url 'item:category' category='cosmetics' %}" class="h2 button">Cosmetics</a>
        </li>
    </ul>
</div>
{% endblock content %}
