{% extends 'base.html' %}
{% load bootstrap3 %}
{% load static %}
{% block title %} My Inventory - {{ block.super }}{% endblock %}
{% block header %}
    {{ block.super }}
{% endblock header %}
{% block content %}
{% if user.is_authenticated %}
    <div class="row clearfix">
            <a href="{% url 'item:add' %}" class="button pull-right h4">
                <strong>+</strong>Add Item
            </a>
        <div class="col-md-12 column">
            <br><br>
            <text class="h2 button">My Inventory</text>
            {% if items %}
                {% for item in items %}
                <hr>
                <h3 style="text-transform:uppercase;">
                    <a href="{% url 'item:details' pk=item.pk %}">
                        {{ item.name }}
                    </a>
                    <br>
                </h3>
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
                <b>Category: </b>{{ item.category }}<br>
                <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                <b>Interest: </b>{{ item.offer_set.count }}
                Offer{{ item.offer_set.count|pluralize }}<br>
                <b>Available: </b>
                {% if item.available %}
                <span class="glyphicon glyphicon-ok" style="color:green;" aria-hidden="true"></span>
                {% else %}
                <span class="glyphicon glyphicon-remove" style="color:red;"  aria-hidden="true"></span>
                {% endif %}
                <br>
                {% endfor %}
            <hr>
            {% else %}
            <hr>
            No items to show!
            {% endif %}
        </div>
    </div>
{% endif %}
{% endblock content %}
