
{% extends 'base.html' %}
{% block title %}
    Profile - {{ block.super }}
{% endblock %}
{% block content %}
    <fieldset>
        <legend class="h2">{{ profile.alias }}</legend>
        {% if user == profile %}
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <b>Location: </b>{{ profile.locale.upper }}<br>
        <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
        <b>Mobile Number: </b>{{ profile.username }}<br>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <b>Email: </b>{{ profile.email }}<br>
        <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
        {# ------------------- #}
        {% endif %}
        <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
        <b>Gender: </b>{{ profile.gender.capitalize }}<br>
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        <b>Rating: </b>{{ profile.userrating.current_rating }} Star{{ profile.userrating|pluralize }}
        {% if item.owner.userrating.current_rating == 0.0 %}
        <small style="color:red;"><strong>New User</strong></small>
        {% endif %}<br>
        <b>Verified:</b>
            {% if profile.is_verified %}
            <span class="glyphicon glyphicon-ok" style="color:green;" aria-hidden="true"></span>
            {% else %}
            <span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span>
            {% endif %}<br>
        <text style="font-size: 13px;">
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
            <b>Last seen</b>: {{ profile.last_modified }}
        </text><br><br>
        {% if profile == user %}
        <strong>Referral Link: </strong>
        <fieldset>
            <strong style="color:#77f">
                https://the-great-bazaar.herokuapp.com{{ profile.get_referral }}
            </strong><br>
        </fieldset><br>
        <p class="text-right">
            <a class="button" href="{% url 'password:password_change' %}">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                Change Password
            </a>
            <a class="button" href="{% url 'user:update' pk=profile.pk %}">Update</a>
            {% else %}
        </p>
        {% endif %}
    </fieldset>
        <br><br>
        <strong>Note: </strong>
        User referral has been temporally disabled. To be re-enabled at final lunch
        <br><br>
{% endblock %}
