/* static/css/base.css */

.nowrap {
    white-space: nowrap;
    }

body {
    color: white;
    background-image: url(https://res.cloudinary.com/christwin/image/upload/v1570469509/PicsArt_09-29-03.13.21_gtm0k1.jpg);
    background-size: cover;
    /* background-color: rgb(5, 15, 25); */
    }

a {
    color: gold
    }

a:hover{
    color: green;
    }

header {
    background: rgb(5, 15, 25,)
    }

header ul {
    padding: 0.9% 0%;
    margin: 0;
    }

header a, header li {
    padding: 0% 0%;
    }

fieldset {
    width: auto;
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(0,0,0,0.5);
    border-radius: 20px;
    padding: 1%;
    padding-left: 5%;
    text-align: left;
    }

legend {
    border: 1px solid gray;
    border-radius: 10px;
    color: #fff;
    width: auto;
    margin-left: 0%;
    background-color: rgb(0,0,0,0.5);
    padding: 2%;
    padding-bottom: 1%;
    text-align: center;
    text-transform: uppercase;
    }

.item {
    background-image: url(https://res.cloudinary.com/christwin/image/upload/v1570469509/PicsArt_09-29-03.13.21_gtm0k1.jpg);
    background-size: cover;
    }

.item a {
    color: gold;
    }

.item legend, .item .button {
    border: 1px solid gold;
    }

.lodge {
    background-image: url(/static/imgs/stores.jpg);
    background-size: cover;
    }

.lodge a {
    color: rgb(100, 80, 225);
    }

.lodge legend, .lodge .button {
    border: 1px solid rgb(100, 80, 225);
    }

section#billboard .wrap-headline {
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
    }

section#billboard h1,
section#billboard h2 {
    color: #FFF;
    }

section#billboard h2 {
    font-size: 2.5rem;
    }

hr {
    width: 70%;
    }

section#billboard .btn-default {
    background-color: rgba(255, 255, 255, 0.5);
    }

.jumbotron {
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 0%
    }

.navbar {
    background-color: rgb(25,35,45);
    }

.lil {
    font-size: 15px;
    }

.row {
    text-align: center;
    }

.button {
    border: 1px solid gray;
    border-radius: 100px;
    color: #fff;
    width: auto;
    margin-left: 0%;
    background-color: rgb(0,0,0,0.5);
    padding: 0.7% 1.2%;
    text-align: center;
    white-space: nowrap;
    }


.base {
    border-radius: 25px;
    font-size: 13px;
    color: rgba(0,0,0,0.8);
    text-align: center;
    width: auto;
    margin-left: 29%;
    margin-right: 29%;
    background-color: rgba(0,0,0,0);
    padding: 0.5% 0.5%;
    }

.search {
    width: auto;
    margin-left: 8%;
    margin-right: 8%;
   }

.sub-text {
    color: rgba(255, 255, 255, 0.4);
   }

.top {
    margin-left: 0%;
    margin-right: 0%;
    background-color: rgb(25,35,45);
    text-align: center;
    }

footer {
    background-color: rgb(0,0,0,0.5);
    }