
{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
    Delete interest - {{ block.super }}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>Delete Interest</h1>
    <p>Are you sure you want to delete this Interest?</p>
        <form action="" method="post">
            {% csrf_token %}
            {% buttons %}
                <button type="submit" class="btn btn-danger">
                    Yes! Delete
                </button>
            {% endbuttons %}
        </form>
    {% endif %}
{% endblock content %}
