
{% extends 'forms.html' %}
{% block title %}
    Password Reset Confirm - {{ block.super }}
{% endblock  %}
{% endblock billboard %}
    <h1>Confirm Password Reset</h1>
{% endblock billboard %}
{% block content %}
    {% if validlink %}
        <p>Please enter your Password twice for typo verification</p>
        {% block form %}
            {{ block.super }}
        {% endblock form %}
    {% else %}
        <h1>Password Reset Unsuccessful</h1>
        <p>Request link is now invalid, try requesting again</p>
    {% endif %}
{% endblock %}
